@import "./normalize.css";


/*定义主题色*/


html,body{
    width: 100%;
    height:100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
    -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    /* rem vw/vh */
    width: 100vw;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.clear-fix::after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear-fix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content-width {
    width: 1380px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
    padding: 0;
}

/*定义通用样式*/
.flex {
    display: flex;
}
.flex1{
    flex:1;
}

.flex-col {
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.jc-center {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

/*隐藏输入框与文本域默认样式*/
input,
textarea {
    background: none;
    outline: none;
    border: none;
}

input,
textarea:focus {
    border: none;
}

/*隐藏滚动条*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
}