@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}
html,
body,
#app{
  height: 100%;
  min-width: 1366px;
  overflow-x:hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
ul li{
  list-style: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.content-width {
  width: 1380px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.el-carousel__container {
  height: 246px !important;
}
.el-main {
  margin: 0;
  padding: 0;
}
.el-table td,
.el-table th{
  text-align: center;
}

.el-input__inner{
  border: none;
  border-bottom: 1px solid #DCDFE6;
  border-radius: 0;
}
.el-input.is-active:focus .el-input__inner, .el-input__inner:focus{
  border-color: rgb(84,154,171);
  outline: 0;
}

.el-input-group__append,
.el-input-group__prepend{
  background-color: #fff;
  border: none;
  border-radius: 0;
}

.el-image__inner--center{
  -ms-transform: translate(0);
  transform: translate(0);
  position: static;
  top: 0;
  left: 0;
}